button {
    margin : 20px 0px;
}
ul>li {
    margin-bottom: 10px;
    line-height: 30px;
}
.header, .footer {
    font-size: 25px;
}
.sidebar {
    font-size: 20px;
}
.indexpage {
    padding: 50px 50px;
    border-radius: 12px;
    background-color: antiquewhite;
}